import {{pascalCase name}} from '.'

export default {
  title: 'Components/{{pascalCase name}}',
  component: {{pascalCase name}},
  parameters: {
    layout: 'fullscreen',
    backgrounds: {
      default: 'eplenario_primary_color'
    }
  }
}

export const Basic = (args) =>
  <div
    style={ {
      marginTop: 30,
      display: 'flex',
      height: '100%',
      justifyContent: 'center',
      alignItems: 'center'
    } }
  >
    <{{pascalCase name}} {...args} />
  </div>
